.register-head{
    padding-top: 30px;
    font-family: 'sans-serif';
    font-weight: lighter;
    font-variant: small-caps;
    color: white;
}

.register_form{
    text-align: left;
    padding-left: 10%;
}


.register-form-text{
    color: white;
    font-weight: 500;
    font-variant: small-caps;
}

.register-button{
    margin-left: 35%;
}

/* Post_register CSS */
.post_register-container{
    width: fit-content; 
    margin: 50px auto;
}

.post_register-text{
    padding-top: 30px;
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-weight: lighter;
}
/* for mobile */
.register-container{
    width: 100%; 
    margin: 30px auto;
    text-align: left;
    position: relative;
}

.register-box{
    position: relative;
    width: 80%;
    margin: 50px auto;
    box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box; 
    border-radius: 20px ;
}

.register_head_div{
    border-radius: 20px 20px 0px 0px;
    height: 100px;
}

.submit_button{
    font-size: 12px;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit_button:hover {opacity: 1}

/* for desktop */
@media only screen and (min-width: 800px){
    .register-container{
        margin: 30px ;
    }

    .register_form{
        text-align: left;
        padding-left: auto;
    }
    
    .register-box{
        width: 40%;
        margin: 50px auto;
        box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;  
    }
}


/* for tabs */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .register-container{
        width: 70%; 
        margin: 30px;
    }

    .register_form{
        text-align: left;
        padding-left: 20%;
    }
    
    .register-box{
        /* border-style: groove; */
        width: 70%;
        margin: 50px auto;
        box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;  
    }
}