.register-head{
    padding-top: 20px;
    font-style: oblique;
    font-family: cursive;
    font-weight: lighter;
    font-variant: small-caps;
    color: white;
}

.register-div-style{
    background-image: url('../../images/login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.register-form-text{
    color: white;
    font-weight: 500;
    font-variant: small-caps;
}

/* Post_register CSS */
.post_register-container{
    width: fit-content; 
    margin: 50px auto;
}

.post_register-text{
    padding-top: 30px;
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-weight: lighter;
}
/* for mobile */
.register-container{
    width: 70%; 
    margin: 30px auto;
}

.register-box{
    border-style: groove;
    width: 80%;
    margin: 10px auto;
    box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;  
}

/* for desktop */
@media only screen and (min-width: 800px){
    .register-container{
        width: fit-content; 
        margin: 30px auto;
    }
    
    .register-box{
        border-style: groove;
        width: 50%;
        margin: 10px auto;
        box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;  
    }
}


/* for tabs */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .register-container{
        width: 70%; 
        margin: 30px auto;
    }
    
    .register-box{
        border-style: groove;
        width: 70%;
        margin: 10px auto;
        box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;  
    }
}