.author-name{
    font-family: cursive;
    font-variant: small-caps;
    font-style: oblique;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}

.author-img{
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.author-bio{
    font-size: medium;
    font-family: cursive;
    font-style: italic;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

@media only screen and (min-width: 800px){
    .author-img{
        height: 100px;
        width: 100px;
    }

    .author-name{
        font-size: larger;
    }

    .author-bio{
        font-size: medium;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    .author-img{
        height: 85px;
        width: 85px;
    }

    .author-name{
        font-size: large;
    }

    .author-bio{
        font-size: medium;
    }
}