.blog-card{
    box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);    
}

.card-title-home {
    cursor: pointer;
}

.blog-detail-icon{
    color:darkred;
    cursor: pointer;
}

.delete{
    margin-left: 90%;
}

<<<<<<< HEAD
.blogs-list{
    margin: auto;
}

.blogs-detail{
    margin: 40px auto;
}

@media only screen and (min-width: 768px){
    .blogs-list{
        width: 70%;
=======

@media only screen and (min-width: 800px){
    .blogs-list{
        width: 50%;
>>>>>>> 1cf867146a28eb59fb78fddc18815564829231f0
        margin: auto;
    }
    
    .blogs-detail{
        width: 50%;
        margin: 40px auto;
    }
}

<<<<<<< HEAD
@media only screen and (min-width: 600px) and (max-width: 768px){
    .blogs-list{
        width: 80%;
=======
@media only screen and (max-width: 800px){
    .blogs-list{
>>>>>>> 1cf867146a28eb59fb78fddc18815564829231f0
        margin: auto;
    }
    
    .blogs-detail{
<<<<<<< HEAD
        width: 50%;
=======
>>>>>>> 1cf867146a28eb59fb78fddc18815564829231f0
        margin: 40px auto;
    }
}