.blog-card{
    box-shadow: 10px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);    
}

.card-title-home {
    cursor: pointer;
}

.blog-detail-icon{
    color:darkred;
    cursor: pointer;
}

.delete{
    margin-left: 90%;
}

/* for mobile phones */
.blogs-list{
    margin: auto;
}

.blogs-detail{
    margin: 40px auto;
}

/* for desktop */
@media only screen and (min-width: 800px){
    .blogs-list{
        width: 70%;
        margin: auto;
    }
    
    .blogs-detail{
        width: 50%;
        margin: 40px auto;
    }
}

/* for tabs */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .blogs-list{
        width: 80%;
        margin: auto;
    }
    
    .blogs-detail{
        margin: 40px auto;
    }
}