.no-blogs{
    font-family: monospace;
    font-size: xx-large;
    font-weight: 600;
}

/* for mobile */
.profile-left-div{
    height: auto;
}

.profile-center-div{
    width: 80%;
    margin: auto;
}


.profile-img{
    width: 140px;
    height: 131px;
}

/* for desktop */
@media only screen and (min-width: 800px){
    .profile-left-div{
        width: 30%;
        float: left;
        height: auto;
    }
    
    .profile-center-div{
        width: 50%;
        margin: auto;
        float: inline;
    }
    
    
    .profile-img{
        width: 180px;
        height: 171px;
    }
}

/* for tabs */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .profile-left-div{
        width: 35%;
        float: left;
        height: 100%;
    }
    
    .profile-center-div{
        width: 95%;
        margin: auto;
        
    }
    
    
    .profile-img{
        width: 140px;
        height: 131px;
    }
}